body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-color: #fbfbeb;
  --accent-color: #07182e;
  --accent2-color: #667a8f;
  /* background-color: var(--background-color); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
  /* padding: 20px; */
  height: 100vh;
  background-color: var(--background-color);
}

nav {
  display: flex;
  align-items: center;
  padding: 1rem 6rem;
  justify-content: space-between;
  background-color: var(--accent-color);
  color: white;
  margin-bottom: 1.5rem;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo h1 {
  color: white;
  font-size: 2rem;
}

.links {
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: white;
  align-items: center;
  margin: auto;
}

h1 {
  color: #333;
}

img {
  max-width: 200px;
  margin: 20px 0;
}

button {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.currency-input {
  /* border: none; */
  padding: 13px 19px;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.connect-donate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.donate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

div {
  /* margin-bottom: 10px; */
  font-size: 18px;
}

.counter-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-image: url('../public/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
  height: 50%;
  flex-direction: column;
}

.counter-container p {
  font-size: 80px;
  margin: 0;
  color: white;
}

.home-logo {
  width: 512px;
  height: 512px;
}

.heading {
  scale: 2;
}

.counter {
  font-size: 175px;
  color: var(--background-color);
  background: rgb(251, 251, 235);
  background: radial-gradient(
    circle,
    rgba(102, 122, 143, 1) 10%,
    rgba(7, 24, 46, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.right form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.left,
.middle,
.right {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.right {
  flex: 1;
}

.middle {
  flex: 0.7;
}

.left {
  flex: 1.5;
}

.form {
  width: 100%;
}

.middle-content {
  font-size: 0.9rem;
}

/* Style for Bootstrap-like input fields */
.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea {
  resize: none;
  min-height: 250px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/* Hover effect */
.form input[type='text']:hover,
.form input[type='email']:hover,
.form input[type='password']:hover,
.form textarea:hover {
  border-color: #b8c0ca;
}

/* Focus effect */
.form input[type='text']:focus,
.form input[type='email']:focus,
.form input[type='password']:focus,
.form textarea:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
