body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-color: #fbfbeb;
  --accent-color: #07182e;
  --accent2-color: #667a8f;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav {
  display: flex;
  align-items: center;
  padding: 1rem 6rem;
  justify-content: space-between;
  background-color: var(--accent-color);
  color: white;
}
.home-logo{
  z-index: -100;
  height: 100%;
  position:absolute;
  overflow: hidden;
  opacity: 0.3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo h1 {
  color: white;
  font-size: 2rem;
}

.links {
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: white;
  align-items: center;
  margin: auto;
}

h1 {
  color: #333;
}

button {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.currency-input {
  /* border: none; */
  padding: 13px 19px;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.connect-donate {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.donate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

div {
  /* margin-bottom: 10px; */
  font-size: 18px;
}

.counter-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-image: url('../public/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
  height: 50%;
  flex-direction: column;
}

.counter-container p {
  font-size: 100px;
  margin: 0;
  color: white;
}

.heading {
  scale: 2;
}

.counter {
  font-size: 175px;
  color: var(--background-color);
  background: rgb(251, 251, 235);
  background: radial-gradient(
    circle,
    rgba(7, 24, 46, 1) 75%,
    rgba(102, 122, 143, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.right form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.left,
.middle,
.right {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.right {
  flex: 1;
}

.middle {
  flex: 0.7;
}

.left {
  flex: 1.5;
}

.form {
  width: 100%;
}

.middle-content {
  font-size: 0.9rem;
}

/* Style for Bootstrap-like input fields */
.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea {
  resize: none;
  min-height: 250px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/* Hover effect */
.form input[type='text']:hover,
.form input[type='email']:hover,
.form input[type='password']:hover,
.form textarea:hover {
  border-color: #b8c0ca;
}

/* Focus effect */
.form input[type='text']:focus,
.form input[type='email']:focus,
.form input[type='password']:focus,
.form textarea:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.transaction {
  padding: 2rem;
  width: 50vw;
  border: solid 1px lightgray;
}



.transaction-hash {
  font-size: 0.85rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.transaction-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transaction-from-to {
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.transaction-link {
  text-decoration: none;
  color: #07182e;
}

.Contact, .Home {
  font-family: Arial, sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}
.Contact {
  width: 80%;
}
.Home {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.Transactions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1.5rem 0;
  min-height: calc(100vh - 11rem);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* crate css for loading spinner */
.loader {
  width: 250px;
  animation: spin 2.5s linear infinite;
  border: 5px solid var(--accent2-color);
  border-radius: 50%;
  aspect-ratio: 1/1; /* Ensure the loader has equal sides */
}

.loader img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -5px;
  left: -5px;
}

